/* ---------------{ GLOBAL }--------------- */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Helvetica, sans-serif;
}

/* Button */

.custom-btn{
  border-radius: 50px;
  font-weight: 600;
}

.custom-btn:hover{
  outline: 2px solid white;
  outline-offset: -4px;
}

.custom-btn.red{
  background-color: #ce3d10;
  border-color: #ce3d10;
}

.custom-btn.red:hover{
  background-color: #ce3d19;
  border-color: #ce3d19;
  outline-color: #373737;
}

/* /Button */

.reg{
  font-size: 20px;
  vertical-align: super;
}