/* ---------------{ HEADER }--------------- */

header{
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
}

/* Header top */

.header-top{
  background-color: black;
}

.header-top .logo{
  width: 77px;
  margin: 11px;
}

/* Header bottom */

.header-bottom .custom-navbar{
  padding: 2px 0;
}

.header-bottom .custom-navbar .nav-item span,
.header-bottom .custom-navbar .right-item span{
  margin-right: 5px;
  color: black;
}

.header-bottom .custom-navbar .nav-item:hover span,
.header-bottom .custom-navbar .right-item:hover span{
  color: #0875d3;
}

.header-bottom .custom-navbar .nav-item img,
.header-bottom .custom-navbar .right-item img{
  width: 10px;
  margin-right: 9px;
}

.header-bottom .custom-navbar .nav-item .hover,
.header-bottom .custom-navbar .right-item .hover{
  display: none;
}

.header-bottom .custom-navbar .nav-item:hover .std,
.header-bottom .custom-navbar .right-item:hover .std{
  display: none;
}

.header-bottom .custom-navbar .nav-item:hover .hover,
.header-bottom .custom-navbar .right-item:hover .hover{
  display: inline-block;
}

.header-bottom .custom-navbar .right-item{
  cursor: pointer;
}

.header-bottom .custom-navbar .right-item span{
  font-weight: 600;
}

.header-bottom .custom-navbar .right-item img{
  margin-right: 19px;
}

.header-bottom .custom-navbar .right button{
  background-color: #373737;
  border-color: #373737;
}

.header-bottom .custom-navbar .right button:hover{
  background-color: #5b636a;
  border-color: #5b636a;
}

.header-bottom .custom-navbar .right i{
  font-size: 18px;
  margin: 0 9px 0 32px;
}

/* ---------------{ JUMBOTRON }--------------- */

.jumbotron{
  height: 587px;
  background-image: url(../img/jumbo-bg.png);
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
}

.jumbotron .content{
  height: 100%;
  color: white;
}

.jumbotron .content img,
.jumbotron .content h1,
.jumbotron .content p{
  margin-bottom: 30px;
}

/* ---------------{ MAIN }--------------- */

/* Games */

.games{
  margin-bottom: 85px;
}

.games .game-card{
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 3px;
  transition: transform .2s;
}

.games .col .game-card:hover{
  transform: translateY(-10px);
}

.games .game-card.active{
  border-color: #0875d3;
}

.games img{
  width: 100%;
  border-radius: 16px;
}

/* PS5 */

.ps5{
  margin-bottom: 16px;
}

.ps5 .top-text{
  margin-bottom: 67px;
} 

.ps5 .top-text .upper-title{
  color: #0875d3;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .9rem;
}

.ps5 h1{
  margin-bottom: 28px;
}

.ps5 p{
  color: #797979;
  font-size: 20px;
  margin-bottom: 28px;
}

.ps5 .content{
  margin-bottom: 60px;
}

.ps5 .content img{
  width: 100%;
}

.ps5 .ps5-bundle-item{
  border-bottom: 2px solid transparent;
  opacity: .5;
  transition: opacity .35s;
}

.ps5 .ps5-bundle-item.active{
  border-color: #0875d3;
  opacity: 1;
}

.ps5 .ps5-bundle-item:hover{
  opacity: 1;
}

.ps5 .ps5-bundle-item img{
  width: 51%;
  margin: 0 auto 11px;
}

.ps5 .ps5-bundle-item h6{
  font-weight: 600;
  margin-bottom: 29px;
}

/* It Takes 2 */

.it-takes-2{
  height: 618px;
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}

.it-takes-2 img{
  width: 61%;
  margin-bottom: 30px;
}

.it-takes-2 h1{
  margin-bottom: 30px;
}

.it-takes-2 p{
  margin-bottom: 30px;
}

/* New Releases */

.new-releases{
  background-color: #1f1f1f;
  padding-top: 28px;
  color: white;
}

.new-releases .nr-card{
  padding-bottom: 30px;
}

.new-releases h2,
.new-releases h4{
  margin-bottom: 20px;
}

.new-releases img{
  width: 100%;
  border-radius: 20px;
  margin-bottom: 12px;
}

.new-releases p{
  font-weight: 600;
}

/* PS4 */

/* PlayStation Plus */

/* Discounts */

/* PlayStation Now */

/* Socials */

/* ---------------{ FOOTER }--------------- */

/* ---------------{ MEDIA QUERIES }--------------- */

@media screen and (max-width: 767px) {
  .ps5 .ps5-bundle-item img{
    width: 100%;
  }

  .ps5 .ps5-bundle-item h6{
    display: none;
  }
}