/* ---------------{ HEADER }--------------- */

.header-top{
  background-color: black;
}

.header-top .logo{
  width: 77px;
  margin: 11px;
}

/* ---------------{ JUMBOTRON }--------------- */

/* ---------------{ MAIN }--------------- */

/* ---------------{ FOOTER }--------------- */